

<div class="content">
<%= kramdown @article.title %>
<%= kramdown @article.content %>
</div>
  <div class="btn-group">
    <div class="btn">
    <%= link_to "Edit me", edit_article_path%>
    </div>
    <div class="btn">
    <%= link_to "Delete", article_path(@article),
          method: :delete,
          data: { confirm: "Are you sure?" } %>

    </div>
    <div class="btn">
    <%= link_to "View all articles", articles_path  %>
    </div>
</div>
